form {
    justify-content: center;

    .hidden {
        display: none;
    }
}

.actions {
    width: 100%;
    display: flex;

    button:first-child {
        margin-left: auto;
        border-top-left-radius: 1rem;
    }

    button:first-child.hidden ~ button:last-child {
        margin-left: auto;
        border-top-left-radius: 1rem;
    }

    button:last-child {
        border-bottom-right-radius: 1rem;
    }
}

.item {
    position: relative;
    padding-top: 1rem;

    display: grid;
    grid-template-columns: 100px auto;
    gap: 0.5rem;

    background-color: #1b002000;
    border: 1px ridge gold;
    border-radius: 1rem;

    transition: background-color 0.2s ease-in-out;
    &:hover {
        background-color: #1b00204b;
    }
}

.image-holder {
    grid-area: 1/1/2/2;
    width: 75%;

    border-radius: 50%;
    border: 1px ridge #e6e6e67a;
    transition: 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: end;
    svg {
        width: 75%;
        height: auto;

        path {
            fill: #e6e6e67a;
            transition: 0.25s ease-in-out;
        }
    }
}

small {
    grid-area: 2/1/3/2;
}

.item:hover > .image-holder {
    border: 1px ridge gold;
    svg > path {
        fill: gold;
    }
}

@media screen and (max-width: 600px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-holder {
            margin: 0;
            margin-top: 1rem;
        }

        .actions {
            flex-wrap: wrap;
            button:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 1rem;
            }
            button {
                flex: 1;
            }
        }
    }
}
