h2 {
    justify-self: left;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.image-holder {
    max-width: 350px;
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;

    img {
        width: 100%;
        height: auto;
    }
}

.reviews-section {
    margin-top: 2rem;
}

.rating {
    width: fit-content;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 217, 0, 0.253);
    box-shadow: 0.063rem 0 1.25rem 0 gold;
    font-weight: 700;
}

.post-review {
    display: flex;
    flex-direction: column;

    row-gap: 1rem;

    .message-section {
        position: relative;
    }

    h4 {
        margin-top: 2rem;
        margin-bottom: 0;
    }
    
    .buttons {
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
    }

    .posting {
        display: flex;

        .add {
            border-top-left-radius: 1rem;
        }

        .cancel {
            border-bottom-right-radius: 1rem;
        }
    }
}

.review {
    width: 100%;
    .image-holder {
        width: 75%;
      
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
        img {
            width: 75%;
            height: auto;
        }
    }

    .header-desc {
        grid-area: 1/2/2/3;
        // margin-top: 3rem;

        h4, p {
            margin: 0;
        }
        h4 {
            margin-bottom: 1rem;
        }
        
    }

    .actions {
        grid-area: 2/2/3/3;
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        small {
            margin-left: auto;
            line-height: 2rem;
            margin-right: 1rem;
        }
    }

    .delete-review {
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .image-holder {
            width: 40%;
            max-width: 100px;
        }

        .header-desc {
            margin-top: 0;
            padding-top: 1rem;
            h4 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }

        .actions {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            small {
                margin: 0;
            }

            .delete-review {
                width: 100%;
                border-top-left-radius: 0;
            }
        }
    }
}
