.rating {
    grid-area: 2/1/3/3;
    font-size: 1.3rem;
    color: gold;
    margin: 0;
    margin: 0.5rem;
}

.price {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 217, 0, 0.253);
    box-shadow: 0.063rem 0 1.25rem 0 gold;
}

@media screen and (max-width: 600px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .price {
            position: relative;
            top: 0;
            right: 0;
            align-self: flex-end;
        }

        .image-holder {
            margin: 0;
            margin-top: 1rem;
        }

        .header-desc {
            margin-top: 0;
            padding-top: 0;
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }

        .actions {
            flex-wrap: wrap;
            button:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 1rem;
            }
            button {
                flex: 1;
            }
        }
    }
}
