.price {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 217, 0, 0.253);
    box-shadow: 0.063rem 0 1.25rem 0 gold;
}

.actions {
    width: 100%;
    display: flex;
    button:disabled {
        background-color: rgba(255, 217, 0, 0.103);
        cursor: default;
    }

    button:first-child {
        margin-left: auto;
        border-top-left-radius: 1rem;
    }

    button:last-child {
        border-bottom-right-radius: 1rem;
    }
}

.board {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 27.75rem;
    gap: 4rem;

    .item {
        text-align: center;
        padding-top: 1.5rem;
    }
    h3 {
        grid-area: 1/1/2/3;
        margin: 0;
        margin-bottom: 1rem;
    }

    button:first-child {
        border-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    button:last-child {
        border-bottom-right-radius: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .price {
            position: relative;
            top: 0;
            right: 0;
            align-self: flex-end;
        }

        .image-holder {
            margin: 0;
            margin-top: 1rem;
        }

        .header-desc {
            margin-top: 0;
            padding-top: 0;
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }

        .actions {
            flex-wrap: wrap;
            button:first-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 1rem;
            }
            button {
                flex: 1;
            }
        }
    }
}
