<h2>Välkommen till Rymdrosten!</h2>
<p>
    Kliv in i en annan dimension där kromade ytor, holografiska menyer och mjukt pulserande neonljus sätter stämningen.
    Rymdrosten är ett science fiction-inspirerat kafé mitt i staden, skapat för både kaffeälskare och rymdfarare i
    hjärtat. Här serveras intergalaktiska specialiteter som "Andromeda Latte", "Plasma Espresso" och våra omtalade
    meteoritsöta bakverk.
</p>
<p>
    Med AI-servitörer och ljudlandskap från avlägsna galaxer bjuder vi på en upplevelse som får dig att glömma jordens
    vardag. Oavsett om du kommer hit för att skriva på nästa stora space opera, möta ditt crew eller bara ta en paus
    från hyperrymden – Rymdrosten är din plats i universum.
</p>
<br />
<blockquote>
    <span class="qoute">“Jag har överlevt lava, kloner och Anakin Skywalker. Men inget väcker mig som kaffet på Rymdrosten.”</span>
    <span class="by">— Obi-Wan Kenobi, Jedi-mästare.</span>
</blockquote>
<br />
<table>
    <thead>
        <tr>
            <th colspan="2">Öppetider:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Måndag</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Tisdag</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Onsdag</td>
            <td>09:00 - 17:00</td>
        </tr>
        <tr>
            <td>Torsdag</td>
            <td>09:00 - 19:00</td>
        </tr>
        <tr>
            <td>Fredag</td>
            <td>13:00 - 23:00</td>
        </tr>
        <tr>
            <td>Lördag</td>
            <td>13:00 - 23:00</td>
        </tr>
        <tr>
            <td>Söndag</td>
            <td>stängt</td>
        </tr>
    </tbody>
</table>